 {
    "AccessModifierOffset" : -4,
    "AlignAfterOpenBracket" : "Align",
    "AlignConsecutiveAssignments" : "true",
    "AlignEscapedNewlines" : "Left",
    "AlignOperands" : "true",
    "AlignTrailingComments" : "true",
    "AllowAllParametersOfDeclarationOnNextLine" : "true",
    "AllowShortBlocksOnASingleLine" : "true",
    "AllowShortCaseLabelsOnASingleLine" : "true",
    "AllowShortFunctionsOnASingleLine" : "All",
    "AllowShortIfStatementsOnASingleLine" : "true",
    "AlwaysBreakBeforeMultilineStrings" : "false",
    "AlwaysBreakTemplateDeclarations": "true",
    "BinPackArguments" : "true",
    "BinPackParameters" : "true",
    "BreakBeforeBraces" : "Linux",
    "BreakBeforeTernaryOperators" : "true",
    "BreakConstructorInitializers": "BeforeComma",
    "BreakStringLiterals" : "true",

    "ColumnLimit" : 70,
    "ConstructorInitializerAllOnOneLineOrOnePerLine" : "false",
    "FixNamespaceComments" : "true",
    "IndentCaseLabels" : "false",
    "IndentWidth" : 4,
    "IndentWrappedFunctionNames" : "false",
    "KeepEmptyLinesAtTheStartOfBlocks" : "true",
    "MaxEmptyLinesToKeep" : 2,
    "PointerAlignment" : "Left",
    "ReflowComments" : "true",
    "SortIncludes" : "true",
    "SortUsingDeclarations" : "true",

    "SpaceAfterCStyleCast" : "true",
    "SpaceAfterTemplateKeyword" : "false",
    "SpaceBeforeAssignmentOperators" : "true",
    "SpaceBeforeParens" : "ControlStatements",
    "SpaceInEmptyParentheses" : "false",
    "SpacesBeforeTrailingComments" : 4,
    "SpacesInCStyleCastParentheses" : "false",
    "SpacesInContainerLiterals" : "false",
    "SpacesInParentheses" : "false",
    "SpacesInSquareBrackets" : "false",
    "TabWidth" : 4,
    "UseTab" : "Never"
}


